body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
}
.site-title {
    font-family: 'Monoton', cursive;
    font-size: 35px;
}
h1 {
    font-family: 'Monoton', cursive;
    font-size: 80px;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: 800;
}
header {
    display: inline-flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 1.5em;
    width: 100%;
    position: fixed;
}
nav li {
    display: inline-flex;
    justify-content: space-around;
    padding: 15px 5px;
}
li a {
    color: white;
    text-decoration: none;
}
li a:hover {
    color: orange;
    border-bottom: 1px solid white;
}